*,
*::before,
*::after {
  box-sizing: border-box;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: 'Oswald', sans-serif;
  position: relative;
}

ul[class],
ol[class] {
  list-style: none;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img {
  max-width: 100%;
  display: block;
}

article > * + * {
  margin-top: 1em;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
}

h1 {
  font-weight: 500;
  font-size: 110px;
  line-height: 110%;
  text-transform: uppercase;
  font-feature-settings: 'pnum' on, 'lnum' on;
}

h2 {
  font-weight: 500;
  font-size: 60px;
  line-height: 110%;
  text-transform: uppercase;
  font-feature-settings: 'pnum' on, 'lnum' on;
}

h3 {
  font-weight: 500;
  font-size: 40px;
  line-height: 110%;
  text-transform: uppercase;
  font-feature-settings: 'pnum' on, 'lnum' on;
}

h4 {
  font-weight: 500;
  font-size: 30px;
  line-height: 110%;
  text-transform: uppercase;
  font-feature-settings: 'pnum' on, 'lnum' on;
}

.t1 {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 150%;
  font-feature-settings: 'pnum' on, 'lnum' on;
}

header {
  z-index: 1;
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translateX(-50%);
  max-width: 1920px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 35px 57px 30px 60px;

  .header-logo {
    cursor: pointer;
  }
}

.header-links {
  display: flex;
  column-gap: 20px;

  & > a {
    display: block;
    padding: 8px 13px;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #1F1F1F;
    border: 2px solid transparent;
    transition: 0.3s ease-in-out;

    &:hover {
      border-color: #1A3D77;
    }
  }

  .langs {
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #1F1F1F;
    position: relative;
    padding: 10px 15px;
    cursor: default;
    border: 2px solid transparent;
    border-bottom: transparent;
    transition: 0.3s ease-in-out;

    a {
      position: absolute;
      top: 100%;
      left: -2px;
      padding: 10px 15px;
      padding-top: 0;
      border: 2px solid transparent;
      width: calc(100% + 4px);
      border-top: transparent;
      color: #1F1F1F;
      overflow: hidden;
      height: 0;
      padding-bottom: 0;
      transition: 0.3s ease-in-out;
    }

    &:hover {
      border-color: #1A3D77;
      border-bottom: transparent;

      a {
        height: 42px;
        padding: 0;
        transition: 0.3s ease-in-out;
        padding: 10px 15px;
        padding-top: 0;
        border-color: #1A3D77;
      }
    }
  }
}

.fixed-header {
  
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%) translateY(-100%);
  width: 100%;
  z-index: 50;
  background-color: #fff;
  transition: 0.3s ease-in-out;

  .container {
    padding: 10px 57px 10px 77px;
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .fixed-header-logo {
    cursor: pointer;
  }

  &.active {
    transform: translateX(-50%);
  }
}

.banner {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  max-height: 800px;
  height: 800px;
  position: relative;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-position: center !important;
  img {
    position: absolute;
    bottom: 140px;
    left: 54px;
  }
}

footer {
  background: #1A3D77;
  position: relative;
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  padding: 67px 0 49px 0;

  .pattern {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
  }

  .content {
    max-width: 887px;
    width: 100%;
    margin: 0 auto;
    position: relative;
    z-index: 1;
  }

  .footer-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 65px;

    .number {
      a {
        font-weight: 400;
        font-size: 50px;
        line-height: 74px;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        font-feature-settings: 'pnum' on, 'lnum' on;
        color: #fff;
        display: block;

        span {
          color: #50BCEA;
        }
      }

      .email {
        font-weight: 400;
        font-size: 25px;
        line-height: 37px;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        font-feature-settings: 'pnum' on, 'lnum' on;
        text-align: right;
        margin-top: -15px;
      }
    }

    .location {
      .big {
        display: flex;
        align-items: center;
        column-gap: 22px;
        font-weight: 400;
        font-size: 50px;
        line-height: 74px;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        font-feature-settings: 'pnum' on, 'lnum' on;
        color: #FFFFFF;
      }

      .small {
        font-weight: 400;
        font-size: 25px;
        line-height: 37px;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        font-feature-settings: 'pnum' on, 'lnum' on;
        color: #FFFFFF;
        margin-top: -15px;
        margin-left: 52px;
      }
    }
  }

  .social {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
    margin-bottom: 23px;
  }

  .policy {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #FFFFFF;
    display: block;
    margin-bottom: 25px;
    &:hover {
      text-decoration: underline;
    }

    text-align: center;
  }

  .copyright {
    text-align: center;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #50BCEA;
  }
}

section {
  overflow: hidden;
}

.page-section {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  padding: 100px 50px;

  &.gray {
    background-color: #F1F1F1;
  }

  h2 {
    color: #1F1F1F;
    margin-bottom: 50px;
  }

  p.t1 {
    margin-bottom: 50px;
    color: #4C4C4C;
    max-width: 1200px;
  }
}

.flexbox {
  display: flex;
  column-gap: 100px;
  align-items: flex-end;

  .text {
    max-width: 1010px;
    width: 100%;

  }

  .image {
    margin-bottom: -100px;
    margin-top: -75px;
    max-width: 656px;
    width: 100%;
  }
}

.links {
  display: flex;
  column-gap: 20px;
  align-items: center;
}

.link-btn {
  font-weight: 400;
  font-size: 18px;
  line-height: 110%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  font-feature-settings: 'pnum' on, 'lnum' on;
  color: #1F1F1F;
  border: 1px solid #1A3D77;
  padding: 10px 20px;
  transition: 0.3s ease-in-out;

  &:hover {
    background-color: #1A3D77;
    color: #fff;
  }
}

.pasakumi {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;

  .item {
    overflow: hidden;
    width: 33.3%;
    position: relative;
    padding: 50px 15px 50px 50px;
    background-color: #000;
    background-size: cover;
    transition: 0.3s ease-in-out;
    aspect-ratio: 605/600;

    * {
      transition: 0.5s ease-in-out;
      position: relative;
    }

    .bg {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: 0.3s ease-in-out;
    }

    .gradient {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 100%);
    }
    
    h3 {
      color: #fff;
      margin-bottom: 21px;
    }

    p.t1 {
      margin-bottom: 17px;
      color: #fff;
      transform: translateY(30px);
      opacity: 0;
    }

    .date {
      color: #50BCEA;
      font-weight: 500;
      font-size: 30px;
      line-height: 110%;
      text-transform: uppercase;
      font-feature-settings: 'pnum' on, 'lnum' on;
      transform: translateY(30px);
      opacity: 0;
    }

    .group {
      font-weight: 300;
      font-size: 20px;
      line-height: 30px;
      text-transform: uppercase;
      color: #50BCEA;
      transform: translateY(50px);
      opacity: 0;
    }

    .price {
      position: absolute;
      bottom: 50px;
      left: 50px;
      font-weight: 500;
      font-size: 60px;
      line-height: 110%;
      text-transform: uppercase;
      font-feature-settings: 'pnum' on, 'lnum' on;
      color: #50BCEA;
    }

    .btn {
      position: absolute;
      bottom: 50px;
      right: 33px;
      border: 1px solid #50BCEA;
      padding: 10px 20px;
      font-weight: 400;
      font-size: 18px;
      line-height: 110%;
      letter-spacing: 0.03em;
      text-transform: uppercase;
      font-feature-settings: 'pnum' on, 'lnum' on;
      color: #FFFFFF;
      display: block;
      transform: translateX(50%);
      opacity: 0;
    }

    &:hover {
      p.t1, .date, .group, .btn {
        opacity: 1;
        transform: none;
      }

      .bg {
        opacity: 0.5;
        transform: scale(1.03);
      }
      
    }

    &.last {
      background-color: transparent;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 31px solid #FFFFFF;

      .text {
        font-weight: 400;
        font-size: 40px;
        line-height: 110%;
        text-align: center;
        text-transform: uppercase;
        font-feature-settings: 'pnum' on, 'lnum' on;
        color: #FFFFFF;
        width: 212px;
      }
    }
  }
}