*,
*::before,
*::after {
  box-sizing: border-box;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: "Oswald", sans-serif;
  position: relative;
}

html {
  scroll-behavior: smooth;
}

ul[class],
ol[class] {
  list-style: none;
}

a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

img {
  max-width: 100%;
  display: block;
}

article > * + * {
  margin-top: 1em;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
}

h1 {
  font-weight: 500;
  font-size: 110px;
  line-height: 110%;
  text-transform: uppercase;
  font-feature-settings: "pnum" on, "lnum" on;
}

h2 {
  font-weight: 500;
  font-size: 60px;
  line-height: 110%;
  text-transform: uppercase;
  font-feature-settings: "pnum" on, "lnum" on;
}

h3 {
  font-weight: 500;
  font-size: 40px;
  line-height: 110%;
  text-transform: uppercase;
  font-feature-settings: "pnum" on, "lnum" on;
}

h4 {
  font-weight: 500;
  font-size: 30px;
  line-height: 110%;
  text-transform: uppercase;
  font-feature-settings: "pnum" on, "lnum" on;
}

.t1 {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 150%;
  font-feature-settings: "pnum" on, "lnum" on;
}

header {
  z-index: 1;
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translateX(-50%);
  max-width: 1920px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 35px 57px 30px 60px;
}
header .header-logo {
  cursor: pointer;
}

.header-links {
  display: flex;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
.header-links > a {
  display: block;
  padding: 8px 13px;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #1F1F1F;
  border: 2px solid transparent;
  transition: 0.3s ease-in-out;
}
.header-links > a:hover {
  border-color: #1A3D77;
}
.header-links .langs {
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #1F1F1F;
  position: relative;
  padding: 10px 15px;
  cursor: default;
  border: 2px solid transparent;
  border-bottom: transparent;
  transition: 0.3s ease-in-out;
}
.header-links .langs a {
  position: absolute;
  top: 100%;
  left: -2px;
  padding: 10px 15px;
  padding-top: 0;
  border: 2px solid transparent;
  width: calc(100% + 4px);
  border-top: transparent;
  color: #1F1F1F;
  overflow: hidden;
  height: 0;
  padding-bottom: 0;
  transition: 0.3s ease-in-out;
}
.header-links .langs:hover {
  border-color: #1A3D77;
  border-bottom: transparent;
}
.header-links .langs:hover a {
  height: 42px;
  padding: 0;
  transition: 0.3s ease-in-out;
  padding: 10px 15px;
  padding-top: 0;
  border-color: #1A3D77;
}

.fixed-header {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%) translateY(-100%);
  width: 100%;
  z-index: 50;
  background-color: #fff;
  transition: 0.3s ease-in-out;
}
.fixed-header .container {
  padding: 10px 57px 10px 77px;
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.fixed-header .fixed-header-logo {
  cursor: pointer;
}
.fixed-header.active {
  transform: translateX(-50%);
}

.banner {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  max-height: 800px;
  height: 800px;
  position: relative;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-position: center !important;
}
.banner img {
  position: absolute;
  bottom: 140px;
  left: 54px;
}

footer {
  background: #1A3D77;
  position: relative;
  width: 100%;
  margin: 0 auto;
  padding: 67px 0 49px 0;
}
footer .pattern {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}
footer .content {
  max-width: 887px;
  width: 100%;
  margin: 0 auto;
  position: relative;
  z-index: 1;
}
footer .footer-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 65px;
}
footer .footer-flex .number a {
  font-weight: 400;
  font-size: 50px;
  line-height: 74px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #fff;
  display: block;
}
footer .footer-flex .number a span {
  color: #50BCEA;
}
footer .footer-flex .number .email {
  font-weight: 400;
  font-size: 25px;
  line-height: 37px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  font-feature-settings: "pnum" on, "lnum" on;
  text-align: right;
  margin-top: -15px;
}
footer .footer-flex .location .big {
  display: flex;
  align-items: center;
  -moz-column-gap: 22px;
       column-gap: 22px;
  font-weight: 400;
  font-size: 50px;
  line-height: 74px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #FFFFFF;
}
footer .footer-flex .location .small {
  font-weight: 400;
  font-size: 25px;
  line-height: 37px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #FFFFFF;
  margin-top: -15px;
  margin-left: 52px;
}
footer .social {
  display: flex;
  align-items: center;
  justify-content: center;
  -moz-column-gap: 10px;
       column-gap: 10px;
  margin-bottom: 23px;
}
footer .policy {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #FFFFFF;
  display: block;
  margin-bottom: 25px;
  text-align: center;
}
footer .policy:hover {
  text-decoration: underline;
}
footer .copyright {
  text-align: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #50BCEA;
}

section {
  overflow: hidden;
}

.page-section {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  padding: 100px 50px;
}
.page-section.gray {
  background-color: #F1F1F1;
}
.page-section h2 {
  color: #1F1F1F;
  margin-bottom: 50px;
}
.page-section p.t1 {
  margin-bottom: 50px;
  color: #4C4C4C;
  max-width: 1200px;
}

.section-wrap.gray {
  background-color: #F1F1F1;
}

.flexbox {
  display: flex;
  -moz-column-gap: 100px;
       column-gap: 100px;
  align-items: flex-end;
}
.flexbox .text {
  max-width: 1010px;
  width: 100%;
}
.flexbox .image {
  margin-bottom: -100px;
  margin-top: -75px;
  max-width: 656px;
  width: 100%;
}

.links {
  display: flex;
  -moz-column-gap: 20px;
       column-gap: 20px;
  align-items: center;
}

.link-btn {
  font-weight: 400;
  font-size: 18px;
  line-height: 110%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #1F1F1F;
  border: 1px solid #1A3D77;
  padding: 10px 20px;
  transition: 0.3s ease-in-out;
}
.link-btn:hover {
  background-color: #1A3D77;
  color: #fff;
}

.pasakumi {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
}
.pasakumi .item {
  overflow: hidden;
  width: 33.3%;
  position: relative;
  padding: 50px 15px 50px 50px;
  background-color: #000;
  background-size: cover;
  transition: 0.3s ease-in-out;
  aspect-ratio: 1/1;
  max-height: 606px;
}
.pasakumi .item * {
  transition: 0.5s ease-in-out;
  position: relative;
}
.pasakumi .item .bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: 0.3s ease-in-out;
}
.pasakumi .item .gradient {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 100%);
}
.pasakumi .item h3 {
  color: #fff;
  margin-bottom: 21px;
}
.pasakumi .item p.t1 {
  margin-bottom: 17px;
  color: #fff;
  transform: translateY(30px);
  opacity: 0;
}
.pasakumi .item .date {
  color: #50BCEA;
  font-weight: 500;
  font-size: 30px;
  line-height: 110%;
  text-transform: uppercase;
  font-feature-settings: "pnum" on, "lnum" on;
  transform: translateY(30px);
  opacity: 0;
}
.pasakumi .item .group {
  font-weight: 300;
  font-size: 20px;
  line-height: 30px;
  text-transform: uppercase;
  color: #50BCEA;
  transform: translateY(50px);
  opacity: 0;
}
.pasakumi .item .price {
  position: absolute;
  bottom: 50px;
  left: 50px;
  font-weight: 500;
  font-size: 60px;
  line-height: 110%;
  text-transform: uppercase;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #50BCEA;
}
.pasakumi .item .btn {
  position: absolute;
  bottom: 50px;
  right: 33px;
  border: 1px solid #50BCEA;
  padding: 10px 20px;
  font-weight: 400;
  font-size: 18px;
  line-height: 110%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #FFFFFF;
  display: block;
  transform: translateX(50%);
  opacity: 0;
}
.pasakumi .item:hover p.t1, .pasakumi .item:hover .date, .pasakumi .item:hover .group, .pasakumi .item:hover .btn {
  opacity: 1;
  transform: none;
}
.pasakumi .item:hover .bg {
  opacity: 0.5;
  transform: scale(1.03);
}
.pasakumi .item.last {
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 31px solid #FFFFFF;
}
.pasakumi .item.last .text {
  font-weight: 400;
  font-size: 40px;
  line-height: 110%;
  text-align: center;
  text-transform: uppercase;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #FFFFFF;
  width: 212px;
}

.noma {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: flex-start;
  gap: 10px;
}
.noma .item {
  width: calc(33.3% - 7px);
  overflow: hidden;
}
.noma .item .img-wrap {
  width: 100%;
  aspect-ratio: 600/320;
  position: relative;
  overflow: hidden;
}
.noma .item .img-wrap img {
  position: relative;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: 0.5s ease-in-out;
}
.noma .item .img-wrap .gradient {
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(360deg, rgba(0, 0, 0, 0.01) 0%, rgba(0, 0, 0, 0) 100%);
  top: 0;
  left: 0;
}
.noma .item .img-wrap .hover-gradient {
  width: 100%;
  height: 100%;
  transition: 0.3s ease-in-out;
  background: linear-gradient(360deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 100%);
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}
.noma .item .img-wrap .btn {
  font-weight: 400;
  font-size: 18px;
  line-height: 110%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #FFFFFF;
  padding: 10px 20px;
  border: 1px solid #50BCEA;
  position: absolute;
  display: block;
  bottom: 40px;
  right: 46px;
  transition: 0.5s ease-in-out;
  transform: translateY(100%);
  opacity: 0;
}
.noma .item .text {
  width: 100%;
  display: flex;
  justify-content: space-between;
  -moz-column-gap: 20px;
       column-gap: 20px;
  background-color: #F1F1F1;
  padding: 50px;
  color: #50BCEA;
}
.noma .item .text .btn {
  border: 1px solid #50BCEA;
  padding: 10px 20px;
  font-weight: 400;
  font-size: 18px;
  line-height: 110%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #FFFFFF;
  display: block;
  display: none;
}
.noma .item .text .name {
  font-weight: 500;
  font-size: 40px;
  line-height: 110%;
  text-transform: uppercase;
  font-feature-settings: "pnum" on, "lnum" on;
}
.noma .item .text .subname {
  font-weight: 400;
  font-size: 20px;
  line-height: 110%;
  text-transform: uppercase;
  font-feature-settings: "pnum" on, "lnum" on;
}
.noma .item .text .price {
  font-weight: 500;
  font-size: 40px;
  line-height: 110%;
  text-align: right;
  text-transform: uppercase;
  font-feature-settings: "pnum" on, "lnum" on;
}
.noma .item .text .subprice {
  font-weight: 500;
  font-size: 20px;
  line-height: 110%;
  text-align: right;
  text-transform: uppercase;
  font-feature-settings: "pnum" on, "lnum" on;
}
.noma .item:hover .hover-gradient {
  opacity: 1;
}
.noma .item:hover .img-wrap img {
  transform: scale(1.03);
}
.noma .item:hover .img-wrap .btn {
  opacity: 1;
  transform: none;
}
.noma .item.last {
  border: 31px solid #F1F1F1;
  font-weight: 400;
  font-size: 40px;
  line-height: 110%;
  text-align: center;
  text-transform: uppercase;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #F1F1F1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.noma .item.last p {
  max-width: 212px;
}

.atsauksmes {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.atsauksmes .buttons-wrap {
  display: flex;
  -moz-column-gap: 24px;
       column-gap: 24px;
  margin-bottom: 50px;
}
.atsauksmes .buttons-wrap > * {
  background: #50BCEA;
  padding: 10px;
  width: 55px;
  display: flex;
  cursor: pointer;
}
.atsauksmes .buttons-wrap > * img {
  transition: 0.3s ease-in-out;
}
.atsauksmes .buttons-wrap .button-prev {
  justify-content: flex-end;
}
.atsauksmes .buttons-wrap .button-prev:hover img {
  transform: translateX(-10px);
}
.atsauksmes .buttons-wrap .button-next:hover img {
  transform: translateX(10px);
}
.atsauksmes .swiper-slide {
  width: 691px;
  display: flex;
  -moz-column-gap: 40px;
       column-gap: 40px;
}
.atsauksmes .swiper-slide img {
  border-radius: 50%;
  width: 104px;
  aspect-ratio: 1/1;
  height: 104px;
  -o-object-fit: cover;
     object-fit: cover;
}
.atsauksmes .swiper-slide h4 {
  margin-bottom: 33px;
}
.atsauksmes .swiper-slide p.t1 {
  margin-bottom: 0;
}

.galerija {
  width: 100%;
  height: 400px;
}
.galerija .swiper-slide {
  position: relative;
  width: 200px;
  height: 200px !important;
}
.galerija .swiper-slide a {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}
.galerija .swiper-slide a img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
  transition: 0.3s ease-in-out;
}
.galerija .swiper-slide a:hover img {
  transform: scale(1.1);
}
.galerija .button-next, .galerija .button-prev {
  z-index: 1;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: #50BCEA;
  padding: 10px;
  width: 55px;
  display: flex;
  cursor: pointer;
}
.galerija .button-next img, .galerija .button-prev img {
  transition: 0.3s ease-in-out;
}
.galerija .button-next {
  right: 0;
}
.galerija .button-next:hover img {
  transform: translateX(10px);
}
.galerija .button-prev {
  justify-content: flex-end;
}
.galerija .button-prev:hover img {
  transform: translateX(-10px);
}

.sponsors {
  height: 200px;
  width: calc(100% - 240px);
}
.sponsors .swiper-slide {
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

#sponsors {
  position: relative;
}
#sponsors .button-next, #sponsors .button-prev {
  z-index: 1;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: #50BCEA;
  padding: 10px;
  width: 55px;
  display: flex;
  cursor: pointer;
}
#sponsors .button-next img, #sponsors .button-prev img {
  transition: 0.3s ease-in-out;
}
#sponsors .button-next {
  right: 50px;
}
#sponsors .button-next:hover img {
  transform: translateX(10px);
}
#sponsors .button-prev {
  left: 50px;
  justify-content: flex-end;
}
#sponsors .button-prev:hover img {
  transform: translateX(-10px);
}

.hamburger {
  display: none;
}

.header-logo-mob {
  display: none;
}

.mob-menu {
  transition: 0.3s ease-in-out;
  transform: translateY(-100%);
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #1A3D77;
  padding: 50px 0;
  text-align: center;
  z-index: 10;
}
.mob-menu.active {
  transform: none;
}
.mob-menu a {
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #FFFFFF;
  padding: 10px 15px;
}
.mob-menu .langs {
  margin-top: 80px;
  display: flex;
  justify-content: center;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
.mob-menu .langs a {
  margin: 0;
}
.mob-menu .langs a.active {
  background-color: #fff;
  color: #1A3D77;
}

.popup {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(16, 216, 156, 0.3);
  z-index: 11;
  padding-top: 50px;
}
.popup.active {
  display: block;
}
.popup .wrapper {
  max-width: 1070px;
  width: 100%;
  padding: 50px;
  position: absolute;
  background-color: #fff;
  margin: 0 auto;
  max-height: 100%;
  overflow-y: scroll;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}
.popup .wrapper::-webkit-scrollbar {
  display: none;
}
.popup .wrapper .close-btn {
  width: 40px;
  height: 40px;
  position: absolute;
  border: 1px solid #1A3D77;
  transition: 0.3s ease-in-out;
  right: 50px;
  top: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.popup .wrapper .close-btn * {
  transition: 0.3s ease-in-out;
}
.popup .wrapper .close-btn:hover {
  background-color: #1A3D77;
}
.popup .wrapper .close-btn:hover svg rect {
  fill: #fff;
}
.popup h5 {
  font-weight: 500;
  font-size: 30px;
  line-height: 110%;
  text-transform: uppercase;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #1F1F1F;
  margin: 0;
  margin-bottom: 25px;
}
.popup p.t1 {
  color: #4C4C4C;
}
.popup p.t1:not(:last-of-type) {
  margin-bottom: 25px;
}
.popup p.t1.strong {
  color: #1F1F1F;
  font-weight: 700;
}

input, textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: 1px solid #B5B5B5;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 150%;
  font-feature-settings: "pnum" on, "lnum" on;
  outline: none;
  resize: none;
  padding: 10px 10px 10px 15px;
}

form .form-flex {
  display: flex;
  gap: 11px;
  margin-bottom: 50px;
}
form .form-flex .left input {
  display: block;
  width: 267px;
  flex-shrink: 0;
}
form .form-flex .left input:not(:last-of-type) {
  margin-bottom: 11px;
}
form .form-flex textarea {
  width: 100%;
}
form .checkbox-wrap {
  display: flex;
  gap: 20px;
  align-items: flex-start;
  margin-bottom: 50px;
}
form .checkbox-wrap label {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 300;
  font-size: 13px;
  line-height: 150%;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #4C4C4C;
  max-width: 427px;
}
form input[type=submit] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: none;
  transition: 0.3s ease-in-out;
  border: #1A3D77 solid 1px;
  font-weight: 400;
  font-size: 18px;
  line-height: 110%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #1F1F1F;
  background-color: #fff;
  padding: 10px 20px;
  margin: 0;
  cursor: pointer;
}
form input[type=submit]:hover {
  background-color: #1A3D77;
  color: #fff;
}

input[type=checkbox] {
  cursor: pointer;
  padding: 0;
  width: 25px;
  height: 25px;
  flex-shrink: 0;
  margin: 0;
  position: relative;
}
input[type=checkbox]::after {
  content: "";
  position: absolute;
  width: 9.52px;
  height: 7.06px;
  left: 7px;
  top: 7px;
  opacity: 0;
  border-left: 3px solid #14CBE4;
  border-bottom: 3px solid #14CBE4;
  transform: rotate(-45deg);
}
input[type=checkbox]:checked::after {
  opacity: 1;
}

@media only screen and (max-width: 1580px) {
  .noma .item {
    width: calc(50% - 5px);
  }
  .noma .item.last {
    display: none;
  }
  .pasakumi {
    justify-content: center;
  }
  .pasakumi .item {
    width: 45%;
  }
}
@media only screen and (max-width: 1300px) {
  header .header-logo {
    display: none;
  }
  .header-logo-mob {
    display: block;
  }
  footer .content {
    max-width: 907px;
    padding: 0 20px;
  }
  .pasakumi .item {
    width: 70%;
  }
  .noma .item .img-wrap .btn {
    display: none;
  }
  .noma .item .text {
    flex-direction: column;
    row-gap: 20px;
  }
  .noma .item .text * {
    text-align: left !important;
  }
  .noma .item .text .btn {
    display: block;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    color: #1F1F1F;
  }
  .noma .item .text .name {
    font-size: 30px;
  }
  .noma .item .text .price {
    font-size: 30px;
  }
}
@media only screen and (max-width: 1050px) {
  .page-section {
    padding: 50px 20px;
  }
  .hamburger {
    display: block;
  }
  .header-links {
    display: none;
  }
  header {
    padding: 20px;
    align-items: flex-start;
  }
  .flexbox {
    flex-wrap: wrap;
    row-gap: 100px;
  }
  .flexbox .image {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  h1 {
    font-size: 60px;
  }
  h2 {
    font-size: 40px;
  }
  h3 {
    font-size: 30px;
  }
  h4 {
    font-size: 20px;
  }
  .noma .item .text {
    padding: 20px;
  }
  footer .footer-flex {
    flex-direction: column;
    align-items: center;
    row-gap: 50px;
  }
  footer .footer-flex .number .email {
    text-align: center;
    margin-top: 10px;
  }
  footer .footer-flex .number a, footer .footer-flex .number a span {
    font-size: 40px;
  }
  footer .footer-flex .location .big {
    font-size: 40px;
    line-height: 110%;
  }
  footer .footer-flex .location .small {
    margin-top: 10px;
  }
}
@media only screen and (max-width: 900px) {
  .pasakumi .item {
    width: 100%;
  }
  .atsauksmes .swiper-slide {
    flex-direction: column;
    max-width: 280px;
    row-gap: 40px;
  }
  .atsauksmes .swiper-slide h4 {
    font-size: 30px;
  }
}
@media only screen and (max-width: 700px) {
  .banner img {
    left: 20px;
    bottom: 36px;
    max-width: 600px;
    width: calc(100% - 40px);
  }
  .banner {
    height: 500px;
  }
  .sponsors {
    width: 100%;
  }
  #sponsors {
    padding-top: 145px;
  }
  #sponsors .button-next, #sponsors .button-prev {
    transform: none;
    top: 50px;
  }
  #sponsors .button-next {
    left: 100px;
    right: auto;
  }
  #sponsors .button-prev {
    left: 20px;
  }
  .popup .wrapper {
    width: 100%;
    height: 100%;
    padding: 50px 20px;
  }
  .popup h5 {
    font-size: 40px;
    max-width: 202px;
  }
  .popup .wrapper .close-btn {
    top: 51px;
    right: 20px;
  }
  form .form-flex {
    flex-direction: column;
  }
  form .form-flex .left input {
    width: 100%;
  }
}
@media only screen and (max-width: 650px) {
  .pasakumi .item.last {
    display: none;
  }
  .pasakumi {
    row-gap: 20px;
  }
  .pasakumi .item {
    padding: 0;
    aspect-ratio: auto;
    background-color: #1F1F1F;
  }
  .pasakumi .item .bg {
    position: relative;
    top: auto;
    left: auto;
    width: 100%;
    height: auto;
    aspect-ratio: 280/280;
  }
  .pasakumi .item:hover .bg {
    opacity: 1;
  }
  .pasakumi .item .gradient {
    display: none;
  }
  .pasakumi .item:hover .gradient {
    display: none;
  }
  .pasakumi .item .price {
    position: relative;
    top: auto;
    left: auto;
    bottom: auto;
  }
  .pasakumi .item p.t1, .pasakumi .item .group, .pasakumi .item .date, .pasakumi .item .btn {
    opacity: 1;
    transform: none;
  }
  .pasakumi .item .btn {
    position: relative;
    bottom: auto;
    right: auto;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: 0 20px;
    margin-bottom: 20px;
  }
  .pasakumi .item h3 {
    padding: 20px;
    margin: 0;
  }
  .pasakumi .item p.t1 {
    display: none;
  }
  .pasakumi .item .date {
    padding: 0 20px;
    font-size: 20px;
  }
  .pasakumi .item .group {
    padding: 0 20px;
    font-size: 20px;
    padding-bottom: 20px;
  }
  .pasakumi .item .price {
    padding: 0 20px;
    font-size: 40px;
    color: #fff;
    padding-bottom: 20px;
  }
  .noma {
    row-gap: 20px;
  }
  .noma .item {
    width: 100%;
  }
  .galerija {
    padding-top: 95px;
  }
  .galerija .swiper-slide {
    width: 140px;
    height: 140px !important;
  }
  .galerija .button-next, .galerija .button-prev {
    top: 0;
    transform: none;
  }
  .galerija .button-next {
    right: auto;
    left: 80px;
  }
  .links {
    flex-direction: column;
    row-gap: 20px;
    justify-content: flex-start;
    text-align: left;
    align-items: flex-start;
  }
  .sponsors .swiper-slide {
    padding: 20px 0;
    height: 107px;
  }
  .sponsors .swiper-slide img {
    max-width: 80%;
  }
  .sponsors {
    height: 107px;
  }
  .pasakumi .item .group span {
    font-weight: 500;
    color: #10d89c;
  }
}/*# sourceMappingURL=styles.css.map */